<!-- Modal Importar Profesores -->
<div id="importarProfesores" class="modal">
	<div class="modal-content row">
		<div class="row">
			<h4 class="center-align">Importar Profesores</h4>
		</div>

		<div class="row">
			<label for="excelProfesores" class="col s12">Archivo:</label>
			<input (change)="cargarExcel($event)" type="file" class="col s12">
		</div>

		<div class="row">
			<div class="col s6 center">
				<a (click)="subirExcelProfesores()"
					class="modal-action modal-close waves-effect btn-large">Importar</a>
			</div>
			<div class="col s6 center">
				<a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
			</div>
		</div>
	</div>
</div>

<!-- Modal Importar Institutos -->
<div id="importarInstitutos" class="modal">
	<div class="modal-content row">
		<div class="row">
			<h4 class="center-align">Importar Institutos</h4>
		</div>

		<div class="row">
			<label for="excelProfesores" class="col s12">Archivo:</label>
			<input (change)="cargarExcel($event)" type="file" class="col s12">
		</div>

		<div class="row">
			<div class="col s6 center">
				<a (click)="subirExcelInstitutos()"
					class="modal-action modal-close waves-effect btn-large">Importar</a>
			</div>
			<div class="col s6 center">
				<a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
			</div>
		</div>
	</div>
</div>

<!-- Modal Importar Carreras -->
<div id="importarCarreras" class="modal">
	<div class="modal-content row">
		<div class="row">
			<h4 class="center-align">Importar Carreras</h4>
		</div>

		<div class="row">
			<label for="excelProfesores" class="col s12">Archivo:</label>
			<input (change)="cargarExcel($event)" type="file" class="col s12">
		</div>

		<div class="row">
			<div class="col s6 center">
				<a (click)="subirExcelCarreras()"
					class="modal-action modal-close waves-effect btn-large">Importar</a>
			</div>
			<div class="col s6 center">
				<a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
			</div>
		</div>
	</div>
</div>

<!-- Modal Importar Articulos Director -->
<div id="importarArticulosDir" class="modal">
	<div class="modal-content row">
		<div class="row">
			<h4 class="center-align">Importar Profesores</h4>
		</div>

		<div class="row">
			<label for="excelProfesores" class="col s12">Archivo:</label>
			<input (change)="cargarExcel($event)" type="file" class="col s12">
		</div>

		<div class="row">
			<div class="col s6 center">
				<a (click)="subirExcelProfesores()"
					class="modal-action modal-close waves-effect btn-large">Importar</a>
			</div>
			<div class="col s6 center">
				<a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
			</div>
		</div>
	</div>
</div>

<!-- Modal Importar Eventos Director -->
<div id="importarEventosDir" class="modal">
	<div class="modal-content row">
		<div class="row">
			<h4 class="center-align">Importar Eventos</h4>
		</div>

		<div class="row">
			<label for="excelProfesores" class="col s12">Archivo:</label>
			<input (change)="cargarExcel($event)" type="file" class="col s12">
		</div>

		<div class="row">
			<div class="col s6 center">
				<a (click)="subirExcelEventosDir()"
					class="modal-action modal-close waves-effect btn-large">Importar</a>
			</div>
			<div class="col s6 center">
				<a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
			</div>
		</div>
	</div>
</div>

<!-- Modal Importar Actividades Director -->
<div id="importarActividadesDir" class="modal">
	<div class="modal-content row">
		<div class="row">
			<h4 class="center-align">Importar Actividades</h4>
		</div>

		<div class="row">
			<label for="excelProfesores" class="col s12">Archivo:</label>
			<input (change)="cargarExcel($event)" type="file" class="col s12">
		</div>

		<div class="row">
			<div class="col s6 center">
				<a (click)="subirExcelActividadesDir()"
					class="modal-action modal-close waves-effect btn-large">Importar</a>
			</div>
			<div class="col s6 center">
				<a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
			</div>
		</div>
	</div>
</div>
