<div class="container">

    <h3 class="center-align">Articulos</h3>
    <div class="row">
        <label for="tipoFiltrado">Filtrar por</label>
        <select id="tipoFiltrado" class="browser-default">
            <option value="1">Título</option>
            <option value="2">Estado</option>
            <option value="3">Año</option>
            <option value="4">Tipo</option>
        </select>
    </div>
    <div class="row">
        <div class="col s6">
            <label class="">Fecha Inicial:</label>
            <input type="date" [(ngModel)]="fechaInicial" (change)="obtenerArticulos()">
        </div>
        <div class="col s6">
            <label>Fecha Final:</label>
            <input type="date" [(ngModel)]="fechaFinal" (change)="obtenerArticulos()">
        </div>
    </div>

    <table>
        <ng-container *ngFor="let articulo of articulos  | 
			paginate: {
				itemsPerPage: pageSize,
				currentPage: p 
			};">

            <tr class="hide-line">
                <td colspan="6">
                    <b class="color-blue">Capturado el {{articulo.autores[0].fechaModificacion}}</b><b class="color-red"> Validado</b>
                </td>
            </tr>

            <tr class="hide-line">
                <td colspan="6">
                    <b>Título: </b> {{articulo.titulo}}
                </td>
            </tr>

            <tr class="hide-line">
                <td colspan="6">
                    <b>Autores:</b><br>
                    <span *ngFor="let profesor of articulo.autores;">
                        {{profesor.nombreProfesor}}
                        <a class="waves-effect waves-teal btn-flat"><i class="tiny material-icons">delete</i></a>
                    </span>
                </td>
            </tr>

            <tr>
                <td style="width: 10%;">
                    <b>Tipo</b><br><br> {{articulo.tipoCRL}}
                </td>
                <td style="width: 10%;">
                    <b>Estado</b><br><br> {{articulo.estado}}
                </td>
                <td style="width: 10%;">
                    <b>Año</b><br><br> {{articulo.anyo}}
                </td>
                <td style="width: 10%;">
                    <b>Modificar</b><br><br>
                    <a href="javascript: void(0);" (click)="ModalPrioridades(articulo.profesores)">
                        <i class="material-icons">edit</i>Prioridades</a>
                </td>
                <td style="width: 15%;">
                    <b>Agregar</b><br><br>
                    <a href="javascript: void(0);" class="space" (click)="ModalAutoresUTM(articulo.idArticulo)"><i
                            class="material-icons">add</i>UTM</a>
                    <a href="javascript: void(0);" (click)="ModalAutoresExternos()"><i
                            class="material-icons">add</i>Externo</a>
                </td>
                <td>
                    <b>Opciones</b><br><br>
                    <button class="space btn-option" (click)="ActualizarArticuloModal(articulo.idArticulo)">
                        <i class="material-icons">edit</i>Modificar
                    </button>
                    <button class="space btn-option" (click)="eliminarArticulo(articulo.idArticulo)">
                        <i class="material-icons">delete</i>Eliminar
                    </button>
                    <a class="icono-archivo" *ngFor="let archivo of articulo.archivos" href="{{urlArchivos}}/{{archivo.idArchivoYArticulo}}.{{archivo.extension}}" target="_blank">
                        <i class="material-icons small">{{archivo.icono}}</i>
                    </a>
                </td>
            </tr>
        </ng-container>
    </table>
    <br><br>
    <div class="row center-align">
        <pagination-controls class="my-pagination" (pageChange)="p = ($event)" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>




<!-- Modal Actualizar Prioridad -->
<div id="modalPrioridad" class="modal">
    <div class="modal-content">

        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h4 class="center">Prioridades</h4>
            </div>
        </div>


        <div style="border: .5px solid #78909c; padding: 10px;">
            <table>
                <tr>
                    <th>Prioridad</th>
                    <th>Nombre</th>
                </tr>

                <tr *ngFor="let profesor of ordenProfesores;let indice1=index" style="list-style: circle">
                    <td>
                        <select [(ngModel)]='profesor.pos' class="browser-default" value="Congreso">
                            <option *ngFor="let profesor of ordenProfesores; let indice = index">{{indice+1}}</option>
                        </select>
                    </td>
                    <td>
                        {{profesor.nombre}}
                    </td>
                </tr>


            </table>
            <br>
            <div class="row">
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large" (click)="MostrarOrden()">Guardar</a>
                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Actualizar Articulo -->
<div id="ActualizarArticulo" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h3 class="center">Actualizar Publicación</h3>
            </div>
        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <form (ngSubmit)="actualizarArticulo()" ngNativeValidate>
                <div class="row">
                    <div class="col s12" style="margin-bottom: 1rem;">
                        <label>Congreso/Revista/Libro/Cap Libro</label>
                        <select name="tipoCRL" [(ngModel)]="ArticuloActual.tipoCRL" class="browser-default">
                            <option value="Congreso">Congreso</option>
                            <option value="Revista">Revista</option>
                            <option value="Libro">Libro</option>
                            <option value="Cap Libro">Cap Libro</option>
                            <option value="Reporte Técnico">Reporte Técnico</option>
                        </select>
                    </div>

                    <div class="input-field col s12">
                        <input name="titulo" id="articulo_tituloE" [(ngModel)]="ArticuloActual.titulo" required type="text">
                        <label for="articulo_tituloE" class="active">Titulo del Artículo</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="nombreCRL" id="articulo_nombreCRLE" [(ngModel)]="ArticuloActual.nombreCRL" required type="text">
                        <label for="articulo_nombreCRLE" class="active">Nombre del
                            Congreso/Revista/Libro/Institución</label>
                    </div>

                    <div class="col s12" style="margin-bottom: 1rem;">
                        <label>Indexada</label>
                        <select name="indexada" [(ngModel)]="ArticuloActual.indexada" class="browser-default">
                            <option value="No">No</option>
                            <option value="Si">Si</option>
                            <option value="JRC">JCR</option>
                        </select>
                    </div>

                    <div class="input-field col s12">
                        <input name="issue" id="articulo_issueM" [(ngModel)]="ArticuloActual.issue" required type="text">
                        <label for="articulo_issueM">Issue</label>
                    </div>

                    <div class="col s12" style="margin-bottom: 1rem;">
                        <label>Nacinal/Internacional</label>
                        <select name="tipoNI" [(ngModel)]="ArticuloActual.tipoNI" class="browser-default">
                            <option value="Nacional">Nacional</option>
                            <option value="Internacional">Internacional</option>
                        </select>
                    </div>

                    <div class="input-field col s12">
                        <input name="volumen" id="articulo_volumenE" [(ngModel)]="ArticuloActual.volumen" required type="text">
                        <label for="articulo_volumenE" class="active">Volumen/Capítulo</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="paginas" id="articulo_paginasE" [(ngModel)]="ArticuloActual.paginas" required type="text">
                        <label for="articulo_paginasE" class="active">Páginas</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="anyo" id="articulo_anyoE" [(ngModel)]="ArticuloActual.anyo" required type="text">
                        <label for="articulo_anyoE" class="active">Año</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="issnisbn" id="articulo_issnisbnE" [(ngModel)]="ArticuloActual.issnisbn" required type="text">
                        <label for="articulo_issnisbnE" class="active">Código ISSN/ISBN</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="doi" id="articulo_doiE" [(ngModel)]="ArticuloActual.doi" required type="text">
                        <label for="articulo_doiE" class="active">Doi</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="editores" id="articulo_editoresE" [(ngModel)]="ArticuloActual.editores" required type="text">
                        <label for="articulo_editoresE" class="active">Editores</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="editorial" id="articulo_editorialE" [(ngModel)]="ArticuloActual.editorial" required type="text">
                        <label for="articulo_editorialE" class="active">Editorial</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="pais" id="articulo_paisE" [(ngModel)]="ArticuloActual.pais" required type="text">
                        <label for="articulo_paisE" class="active">País</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="ciudad" id="articulo_ciudadE" [(ngModel)]="ArticuloActual.ciudad" required type="text">
                        <label for="articulo_ciudadE" class="active">Ciudad</label>
                    </div>

                    <div class="col s12" style="margin-bottom: 1rem;">
                        <label>Estado del artículo</label>
                        <select name="estado" [(ngModel)]="ArticuloActual.estado" class="browser-default" value="Enviado">
                            <option value="Enviado">Enviado</option>
                            <option value="Aceptado">Aceptado</option>
                            <option value="Publicado">Publicado</option>
                        </select>
                    </div>

                    <div class="input-field col s12">
                        <input name="fechaedi" id="carrera_fechaedicionE" [(ngModel)]="ArticuloActual.fechaedicion" required type="date">
                        <label for="carrera_fechaedicionE" class="active">Fecha de envío/aceptado/publicado</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6 center">
                        <input type="submit" class="waves-effect btn-large brown lighten-3" value="Enviar">
                    </div>
                    <div class="col s6 center">
                        <a class="modal-action modal-close waves-effect btn-large brown lighten-3 black-text">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Ageregar autores de la UTM -->
<div id="AutoresUTM" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h4 class="center">Agregar Autores UTM</h4>
            </div>
        </div>

        <div style="border: .5px solid #78909c; padding: 10px;">
            <div class="row">
                <label for="Institutos">Instituto</label>
                <select id="Institutos" [(ngModel)]="idInstitutoActual" class="browser-default" (change)="cambioInstituto()">
                    <option *ngFor="let instituto of institutos" [value]="instituto.idInstituto">
                        {{instituto.nombreInstituto}}
                    </option>
                </select>
            </div>
            <table>
                <tr *ngFor="let profesorInstituto of profesoresInstituto;">
                    <th [width]="10">
                        <label>
                            <input [(ngModel)]="autorNuevo.idProfesor" type="checkbox"  [value]="profesorInstituto.idProfesor"/>
                            <span></span>
                        </label>
                    </th>
                    <th [width]="65">
                        <select class="browser-default" [(ngModel)]="autorNuevo.pos">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </th>
                    <th>
                        <label>
                            <h6>{{profesorInstituto.nombreProfesor}}</h6>
                        </label>
                    </th>
                </tr>
            </table>
            <br>
            <div class="row">
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large" (click)="AutoresUTM()">Guardar</a>
                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ageregar autores externos -->
<div id="AutoresExternos" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h4 class="center">Agregar Autores Externos</h4>
            </div>
        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <!--Tabla Sugerencias -->
            <table ALIGN=CENTER>
                <caption>
                    <h6>Sugerencias</h6>
                </caption>
                <tr *ngFor="let externo of sugerenciasExternos;">
                    <th>
                        <label>
                            <input type="checkbox" [(ngModel)]="externo.agregado" />
                            <span></span>
                        </label>
                    </th>
                    <th style=" width:8rem; ">
                        <select [(ngModel)]="externo.prioridad" class="browser-default" style=" width:8rem; ">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </th>
                    <th style=" width:16rem;">
                        <label>
                            <h6>{{externo.nombreAPA}}</h6>
                        </label>
                    </th>
                </tr>
            </table>
            <br>
            <div class="row">
                <div class="col s12 center">
                    <a class="waves-effect btn-large brown lighten-3">Guardar</a>
                </div>
            </div>

            <!-- Formulario Agregar Nuevo Autor Externo -->
            <form (ngSubmit)="ExternoExistente()" ngNativeValidate>
                <div class="row">
                    <label for="Externos">Externos:</label>
                    <select id="Externos" class="browser-default">
                        <option *ngFor="let externo of externos" [value]="externo.idExternoAPA">
                            {{externo.nombreAPA}}
                        </option>
                    </select>
                </div>


                <div class="row">
                    <div class="col s12 center">
                        <input type="submit" class="waves-effect btn-large brown lighten-3" value="Guardar">
                    </div>
                </div>
            </form>





            <!-- Formulario Agregar Nuevo Autor Externo -->
            <form (ngSubmit)="crearNuevoAutorExterno(externo)" ngNativeValidate>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="Nombres" id="externo_nombre" [(ngModel)]="externo.nombre" required type="text">
                        <label for="externo_nombre">Nombre</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="NombreAPA" id="externo_APA" [(ngModel)]="externo.nombreAPA" required type="text">
                        <label for="externo_APA">NombreAPA</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="correo" id="externo_correo" [(ngModel)]="externo.correo" required type="email">
                        <label for="externo_correo">Correo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center">
                        <input type="submit" class="waves-effect btn-large brown lighten-3" value="Guardar">
                    </div>
                    <div class="col s6 center">
                        <a class="modal-action modal-close waves-effect btn-large brown lighten-3 black-text">Cancelar</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>