<div class="container">
	<h3 class="center-align">Articulos</h3>

	<div class="row">
		<div class="col s6">
			<label class="">Fecha Inicial:</label>
			<input type="date" [(ngModel)]="fechaInicial" (change)="obtenerArticulos()">
		</div>
		<div class="col s6">
			<label>Fecha Final:</label>
			<input type="date" [(ngModel)]="fechaFinal" (change)="obtenerArticulos()">
		</div>
	</div>

	<table>
		<tr>
			<th>Fecha</th>
			<th>Articulo</th>
			<th>Autores</th>
			<th>Acciones</th>
			<th>Archivos</th>
		</tr>
		<tr *ngFor="let articulo of articulos">
			<td>{{articulo.fechaEdicion}}</td>
			<td>{{articulo.titulo}}</td>
			<td>
				<ul>
					<li *ngFor="let profesor of articulo.profesores" style="list-style: circle">
						{{profesor.nombres}} {{profesor.apellidoPaterno}} {{profesor.apellidoMaterno}}
						<a class="waves-effect waves-light btn-small"><i class="material-icons">delete</i></a>
					</li>
				</ul>
			</td>
			<td>
				<div class="row">
					<div class="col s12">
						<a class="waves-effect waves-light btn-small" style="margin-right: 10px;"><i
								class="material-icons left">edit</i>Prioridad</a>
					</div>
					<div class="col s12">
						<a class="waves-effect waves-light btn-small"><i
								class="material-icons left">add_circle</i>UTM</a>
					</div>
				</div>
			</td>
			<td>
				<div class="row">
					<div class="col s12">
						<a class="icono-archivo" *ngFor="let archivo of articulo.archivos" href="{{urlArchivos}}/{{archivo.idArchivoYArticulo}}.{{archivo.extension}}" target="_blank">
							<i class="material-icons medium">{{archivo.icono}}</i>
						</a>
					</div>
					<div class="col s12">

						<input type="file" multiple="true" (change)="cargarArchivo($event.target, articulo.idArticulo)">
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>