<div class="container">
	<h3 class="center-align">Materias</h3>

	<div class="row">
		<div class="col offset-s3 s3">
			<label class="">Año Inicial:</label>
			<input type="number" min="1991" max="{{fechaActual}}" step="1" [(ngModel)]="fechaInicial">
		</div>
		<div class="col s3">
			<label>Año Final:</label>
			<input type="number" min="{{fechaInicial}}" max="{{fechaActual}}" step="1" [(ngModel)]="fechaFinal">
		</div>
	</div>

	<div class="nombre">
		<p style="font-size: medium;">{{profesor.nombre}}</p>
	</div>
	<table id="tablaMaterias">
		<tr>
			<th class="intro" onclick="sortTable(0, 'str', 'tablaMaterias')">Materia</th>
			<th class="intro" onclick="sortTable(1, 'str', 'tablaMaterias')">Grupo</th>
			<th class="intro" onclick="sortTable(2, 'str', 'tablaMaterias')">Carrera</th>
			<th class="intro" onclick="sortTable(3, 'str', 'tablaMaterias')">Plan</th>
			<th class="intro" onclick="sortTable(4, 'str', 'tablaMaterias')">Periodo</th>
		</tr>

		<tr *ngFor="let materia of materias">
			<td>{{materia.nombreMateria}}</td>
			<td>{{materia.grupo}}</td>
			<td>{{materia.carrera}}</td>
			<td>{{materia.nombrePlan}}</td>
			<td>{{materia.periodo}}</td>
		</tr>
	</table>
	<div class="multi">
		<p style="font-family: 'Arial Black'; font-size: 15px;">multi-asignación</p>
	</div>
	<table>
		<tr *ngFor="let materia of materiasMulti">
			<td>{{materia.nombreMateria}}</td>
			<td><span *ngFor="let grupo of materia.grupos">{{grupo}}<br></span></td>
			<td>{{materia.carrera}}</td>
			<td>{{materia.nombrePlan}}</td>
			<td>{{materia.periodo}}</td>
		</tr>
	</table>
</div>