<section class="container">
	<div class="row">
		<h3 class="center-align">Ingresar un Profesor</h3>

		<div class="input-field col m6 l6">
			<i class="material-icons prefix">person</i>
			<input [(ngModel)]='profesor.nombres' id="nombres" type="text" autocomplete="off">
			<label for="nombres">Nombres</label>
		</div>

		<div class="input-field col m6 l6">
			<i class="material-icons prefix">person</i>
			<input [(ngModel)]='profesor.apellidoPaterno' id="apellidoPaterno" type="text">
			<label for="apellidoPaterno">Apellido Paterno</label>
		</div>

		<div class="input-field col m6 l6">
			<i class="material-icons prefix">person</i>
			<input [(ngModel)]='profesor.apellidoMaterno' id="apellidoMaterno" type="text">
			<label for="apellidoMaterno">Apellido Materno</label>
		</div>

		<div class="input-field col m6 l6">
			<i class="material-icons prefix">email</i>
			<input [(ngModel)]='profesor.correoProfesor' id="correo" type="email">
			<label for="correo">Correo</label>
		</div>

		<div class="input-field col m6 l6">
			<i class="material-icons prefix">password</i>
			<input [(ngModel)]='profesor.password' id="contraseña" type="password">
			<label for="contraseña">Contraseña</label>
		</div>

		<div class="input-field col m6 l6">
			<i class="material-icons prefix">format_list_numbered</i>
			<input [(ngModel)]='profesor.nivel' id="nivel" type="number">
			<label for="nivel">Nivel</label>
		</div>

		<div class="input-field col m6 l6">
			<select [(ngModel)]='profesor.idCarrera' id="carrera">
				<option value="" disabled selected>Selecciona una carrera</option>
				<option *ngFor="let carrera of carreras" value="{{carrera.idCarrera}}">{{carrera.nombreCarrera}}</option>
			</select>
			<label>Carrera</label>
		</div>

		<div class="input-field col m6 l6">
			<i class="material-icons prefix">tag</i>
			<input [(ngModel)]="profesor.grado" id="grado" type="text">
			<label for="grado">Grado</label>
		</div>

		<div class="input-field col m6 l6">
			<select [(ngModel)]='profesor.idTipoProfesor' id="tipo_profesor">
				<option value="" disabled selected>Selecciona un tipo</option>
				<option value="1">Bueno</option>
				<option value="2">Muy Bueno</option>
			</select>
			<label for="tipo_profesor">Tipo de Profesor</label>
		</div>

		<div class="col m12 l12 center-align">
			<button (click)="altaProfesor()" class="waves-effect waves-light btn" type="submit">
				<i class="material-icons right">send</i>
				Agregar
			</button>
		</div>

	</div>
</section>