@media print {
	@page {
		size: auto;
		margin: 1.5cm;
	}

	.fixed-action-btn {
		display: none !important;
	}

	:host app-navigation {
		display: none;
	}

	.tooltipped {
		border-radius: 5px;
	}

	/* Se puede ocultar todos los elementos que se deseen */
}