<app-navigation></app-navigation>
<router-outlet></router-outlet>
<app-modales-agregar></app-modales-agregar>
<app-modales-importar></app-modales-importar>
<app-modales-exportar></app-modales-exportar>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a href="#agregarArticulo" class="btn-floating tooltipped black modal-trigger" data-position="top" data-tooltip="Publicación">
                <i class="material-icons">create</i>
            </a>

        </li>
        <li>
            <a href="#agregarRevivision" class="btn-floating tooltipped black modal-trigger" data-position="top" data-tooltip="Revisión">
                <i class="material-icons">assignment_turned_in</i>
            </a>
        </li>
        <li>
            <a href="#agregarProyecto" class="btn-floating tooltipped black modal-trigger" data-position="top" data-tooltip="Proyecto">
                <i class="material-icons">class</i>
            </a>
        </li>
        <li>
            <a href="#nuevaPatente" class="btn-floating tooltipped black modal-trigger" data-position="top" data-tooltip="Patente">
                <i class="material-icons">attach_money</i>
            </a>
        </li>
        <li>
            <a href="#nuevoEvento" class="btn-floating tooltipped black modal-trigger" data-position="top" data-tooltip="Evento">
                <i class="material-icons">assignment_late</i>
            </a>
        </li>
        <li>
            <a href="#nuevaActividad" class="btn-floating tooltipped black modal-trigger" data-position="top" data-tooltip="Actividad">
                <i class="material-icons">directions_run</i>
            </a>
        </li>
    </ul>
</div>

<!-- Modal Agregar Articulo -->
<div id="agregarArticulo" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h3 class="center">Nueva Publicación</h3>
            </div>
        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <form (ngSubmit)="crearArticulo(articulo)" ngNativeValidate>
                <div class="row">
                    <div class="col s12" style="margin-bottom: 1rem;">
                        <label>Congreso/Revista/Libro/Cap Libro</label>
                        <select name="tipoCRL" [(ngModel)]="articulo.tipoCRL" class="browser-default">
							<option value="Congreso">Congreso</option>
							<option value="Revista">Revista</option>
							<option value="Libro">Libro</option>
							<option value="Cap Libro">Cap Libro</option>
							<option value="Reporte Técnico">Reporte Técnico</option>
						</select>
                    </div>

                    <div class="input-field col s12">
                        <input name="titulo" id="articulo_titulo" [(ngModel)]="articulo.titulo" required type="text">
                        <label for="articulo_titulo">Titulo del Artículo</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="nombreCRL" id="articulo_nombreCRL" [(ngModel)]="articulo.nombreCRL" required type="text">
                        <label for="articulo_nombreCRL">Nombre del Congreso/Revista/Libro/Institución</label>
                    </div>

                    <div class="col s12" style="margin-bottom: 1rem;">
                        <label>Indexada</label>
                        <select name="indexada" [(ngModel)]="articulo.indexada" class="browser-default">
							<option value="No">No</option>
							<option value="Si">Si</option>
							<option value="JRC">JCR</option>
						</select>
                    </div>

                    <div class="col s12" style="margin-bottom: 1rem;">
                        <label>Nacinal/Internacional</label>
                        <select name="tipoNI" [(ngModel)]="articulo.tipoNI" class="browser-default">
							<option value="Nacional">Nacional</option>
							<option value="Internacional">Internacional</option>
						</select>
                    </div>

                    <div class="input-field col s12">
                        <input name="volumen" id="articulo_volumen" [(ngModel)]="articulo.volumen" required type="text">
                        <label for="articulo_volumen">Volumen/Capítulo</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="paginas" id="articulo_paginas" [(ngModel)]="articulo.paginas" required type="text">
                        <label for="articulo_paginas">Páginas</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="anyo" id="articulo_anyo" [(ngModel)]="articulo.anyo" required type="text">
                        <label for="articulo_anyo">Año</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="issnisbn" id="articulo_issnisbn" [(ngModel)]="articulo.issnisbn" required type="text">
                        <label for="articulo_issnisbn">Código ISSN/ISBN</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="doi" id="articulo_doi" [(ngModel)]="articulo.doi" required type="text">
                        <label for="articulo_doi">Doi</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="editores" id="articulo_editores" [(ngModel)]="articulo.editores" required type="text">
                        <label for="articulo_editores">Editores</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="editorial" id="articulo_editorial" [(ngModel)]="articulo.editorial" required type="text">
                        <label for="articulo_editorial">Editorial</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="pais" id="articulo_pais" [(ngModel)]="articulo.pais" required type="text">
                        <label for="articulo_pais">País</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="ciudad" id="articulo_ciudad" [(ngModel)]="articulo.ciudad" required type="text">
                        <label for="articulo_ciudad">Ciudad</label>
                    </div>

                    <div class="col s12" style="margin-bottom: 1rem;">
                        <label>Estado del artículo</label>
                        <select name="estado" [(ngModel)]="articulo.estado" class="browser-default" value="Enviado">
							<option value="Enviado">Enviado</option>
							<option value="Aceptado">Aceptado</option>
							<option value="Publicado">Publicado</option>
						</select>
                    </div>

                    <div class="input-field col s12">
                        <input name="fechaedi" id="carrera_fechaedicion" [(ngModel)]="articulo.fechaedicion" required type="date">
                        <label for="carrera_fechaedicion">Fecha de envío/aceptado/publicado</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col s6 center">
                        <input type="submit" class="waves-effect btn-large brown lighten-3" value="Enviar">
                    </div>
                    <div class="col s6 center">
                        <a class="modal-action modal-close waves-effect btn-large brown lighten-3 black-text">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>


<!-- Modal Crear Revision -->
<div id="agregarRevivision" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h3 class="center">Nueva Revisión</h3>
            </div>
        </div>

        <div style="border: .5px solid #78909c; padding: 10px;">
            <form (ngSubmit)="crearRevision()" ngNativeValidate>
                <div class="row">


                    <div class="col s12" style="margin-bottom: 1rem;">
                        <select name="tipoCRL" [(ngModel)]="revisor.tipoRP" class="browser-default">
                            <option value="Artículo">Articulo</option>
                            <option value="Proyecto">Proyecto</option>
                        </select>
                    </div>


                    <div class="input-field col s12">
                        <input name="Nombre de revista o institución" id="revisor_nombreRI" [(ngModel)]="revisor.nombreRI" required type="text">
                        <label for="patente_titulo">Nombre de revista o institución</label>
                    </div>



                    <div class="input-field col s12">
                        <input name="registroFecha" id="revisor_fecha" [(ngModel)]="revisor.fecha" required type="date">
                        <label for="patente_fechaReg">Fecha</label>
                    </div>





                    <div class="input-field col s12">
                        <input name="titulo" id="titulo_articulo" [(ngModel)]="revisor.tituloRP" required type="text">
                        <label for="patente_fechaObt" min="patente_fechaReg">Título de artículo</label>
                    </div>


                    <div class="row">
                        <div class="col s6 center" value="Enviar">
                            <input type="submit" class="waves-effect btn-large brown lighten-3">
                        </div>
                        <div class="col s6 center">
                            <a class="modal-action modal-close waves-effect btn-large brown lighten-3 black-text">Cancelar</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>



<!-- Modal Crear Patente -->
<div id="nuevaPatente" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h3 class="center">Nueva Patente</h3>
            </div>
        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <form (ngSubmit)="crearPatente(patente)" ngNativeValidate>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="nombrePatente" id="patente_titulo" [(ngModel)]="patente.nombrePatente" required type="text">
                        <label for="patente_titulo">Nombre de la patente</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="registroPatente" id="patente_fechaReg" [(ngModel)]="patente.registro" required type="date">
                        <label for="patente_fechaReg">Fecha de registro</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="obtencion" id="patente_fechaObt" [(ngModel)]="patente.obtencion" required type="date">
                        <label for="patente_fechaObt" min="patente_fechaReg">Fecha de obtención</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="resumenPantente" id="patente_resumen" [(ngModel)]="patente.resumen" type="text">
                        <label for="patente_resumen">Resumen</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6 center">
                        <input type="submit" class="waves-effect btn-large brown lighten-3" value="Enviar">
                    </div>
                    <div class="col s6 center">
                        <a class="modal-action modal-close waves-effect btn-large brown lighten-3 black-text">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!--MODAL NUEVO EVENTO-->
<div id="nuevoEvento" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h3 class="center">Nuevo Evento</h3>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px !important;">

        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <div class="row">
                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>Evento</label>
                    <select [(ngModel)]="evento.tipoEvento" class="browser-default">
                        <option value="Congreso">Congreso</option>
                        <option value="Curso">Curso</option>
                        <option value="Seminario">Seminario</option>
                        <option value="Taller">Taller</option>
                        <option value="Simposium">Simposium</option>
                    </select>
                </div>
                <div class="input-field col s12">
                    <input id="evento_titulo" [(ngModel)]="evento.nombreEvento" required type="text">
                    <label for="evento_titulo">Nombre del evento</label>
                </div>
                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>Participación</label>
                    <select [(ngModel)]="evento.participacion" class="browser-default">
                        <option value="Nacional">Nacional</option>
                        <option value="Internacional">Internacional</option>

                    </select>
                </div>

                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>LAGC del CA</label>
                    <select [(ngModel)]="evento.afectaLinea" class="browser-default">
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>Tipo de participación</label>
                    <select [(ngModel)]="evento.tipoParticipacion" class="browser-default">
                        <option value="Asistente">Asistente</option>
                        <option value="Ponente">Ponente</option>

                    </select>
                </div>
                <div class="input-field col s12">
                    <input id="evento_titulotrabajo" [(ngModel)]="evento.titulo" required type="text">
                    <label for="evento_titulotrabajo">Titulo del trabajo</label>
                </div>
                <div class="input-field col s12">
                    <input id="evento_fechaReg" [(ngModel)]="evento.inicio" required type="date">
                    <label for="evento_fechaReg">Inicio</label>
                </div>
                <div class="input-field col s12">
                    <input id="evento_fechaObt" [(ngModel)]="evento.fin" required type="date">
                    <label for="evento_fechaObt">Fin</label>
                </div>
            </div>

            <div class="row">
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large" (click)="crearEvento()">Enviar</a>
                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!--FIN MODAL NUEVO EVENTO-->
<!-- Modal Crear Actividad -->
<div id="nuevaActividad" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h3 class="center">Nueva Actividad</h3>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px !important;">

        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <div class="row">
                <div class="input-field col s12">
                    <input id="actividad_actividad" [(ngModel)]="actividad.actividad" required type="text">
                    <label for="actividad_actividad">Actividad</label>
                </div>
                <div class="input-field col s12">
                    <input id="actividad_descripcion" [(ngModel)]="actividad.descripcion" required type="text">
                    <label for="actividad_descripcion">Descripción</label>
                </div>
                <div class="input-field col s12">
                    <input id="actividad_inicio" [(ngModel)]="actividad.inicio" required type="date">
                    <label for="actividad_inicio">Inicio</label>
                </div>
                <div class="input-field col s12">
                    <input id="actividad_fin" [(ngModel)]="actividad.fin" required type="date">
                    <label for="actividad_fin">Fin</label>
                </div>

            </div>

            <div class="row">
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large" (click)="crearActividad()">Enviar</a>
                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Agregar Proyecto -->
<div id="agregarProyecto" class="modal">

    <div class="modal-content row">

        <!--Titulo-->
        <div class="row">
            <h3 class="center-align">Nuevo Proyecto</h3>
        </div>


        <div style="border: .5px solid #78909c; padding: 10px;">
            <div class="col s12" style="margin-bottom: 1rem;">
                <label> Estado</label>
                <select [(ngModel)]="proyecto.estado" class="browser-default">
                <option value="Iniciado">Iniciado</option>  
                <option value="En proceso">En proceso</option>
                <option value="Concluido">Concluido</option>
            </select>
            </div>



            <div class="col s12" style="margin-bottom: 1rem;">
                <label> Financiado</label>
                <select [(ngModel)]="proyecto.financiado" class="browser-default">
                <option value="Si">Si</option>  
                <option value="No">No</option>

            </select>
            </div>



            <div class="row col s12">
                <div class="input-field">
                    <input [(ngModel)]='proyecto.porcentajeAvance' id="porcentaje_proyecto" required type="text">
                    <label for="porcentaje_proyecto">Porcentaje de avance</label>
                </div>
            </div>



            <div class="input-field col s12">
                <input id="inicio_proyecto" [(ngModel)]="proyecto.inicio" required type="date">
                <label for="inicio_proyecto">Inicio</label>
            </div>

            <div class="input-field col s12">
                <input id="fin_proyecto" [(ngModel)]="proyecto.fin" required type="date">
                <label for="fin_proyecto">Fin</label>
            </div>


            <div class="row col s12">
                <div class="input-field">
                    <input [(ngModel)]='proyecto.patrocinador' id="patrocinador_proyecto" required type="text">
                    <label for="patrocinador_proyecto">Patrocinador</label>
                </div>
            </div>



            <div class="row col s12">
                <div class="input-field">
                    <input [(ngModel)]='proyecto.nombreProyecto' id="nombre_proyecto" required type="text">
                    <label for="nombre_proyecto">Nombre del Proyecto</label>
                </div>
            </div>




            <!-- Guardar y Cancelar-->
            <div class="row">

                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large" (click)="AgregarProyecto()">Enviar</a>
                </div>

                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
                </div>

            </div>

        </div>
    </div>

</div>