<app-navigation></app-navigation>
<router-outlet></router-outlet>
<app-modales-agregar></app-modales-agregar>
<app-modales-importar></app-modales-importar>
<app-modales-exportar></app-modales-exportar>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a href="#agregarArticulo" class="btn-floating black modal-trigger">
                <i class="material-icons">create</i>
            </a>
          
        </li>
        <li>
            <a href="#agregarRevivision" class="btn-floating black modal-trigger">
                    <i class="material-icons">assignment_turned_in</i>
            </a>
        </li>
        <li>
            <a href="#agregarProyecto" class="btn-floating black modal-trigger">
                <i class="material-icons">class</i>
            </a>
        </li>
        <li>
            <a href="#nuevaPatente" class="btn-floating black modal-trigger">
                <i class="material-icons">attach_money</i>
            </a>
        </li>
        <li>
            <a href="#nuevoEvento" class="btn-floating black modal-trigger">
                <i class="material-icons">assignment_late</i>
            </a>
        </li>
        <li>
            <a href="#nuevaActividad" class="btn-floating black modal-trigger">
                <i class="material-icons">directions_run</i>
            </a>
        </li>
    </ul>
</div>

<!-- Modal Agregar Articulo -->
<div id="agregarArticulo" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h3 class="center">Nueva Publicación</h3>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px !important;">

        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <div class="row">

                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>Congreso/Revista/Libro/Cap Libro</label>
                    <select [(ngModel)]="articulo.tipCLR" class="browser-default">
						<option value="Congreso">Congreso</option>
						<option value="Revista">Revista</option>
						<option value="Libro">Libro</option>
						<option value="Cap Libro">Cap Libro</option>
						<option value="Reporte Técnico">Reporte Técnico</option>
					</select>
                </div>

                <div class="input-field col s12">
                    <input id="articulo_titulo" [(ngModel)]="articulo.titulo" required type="text">
                    <label for="articulo_titulo">Titulo del Artículo</label>
                </div>

                <div class="input-field col s12">
                    <input id="articulo_nombreCRL" [(ngModel)]="articulo.nombreCLR" required type="text">
                    <label for="articulo_nombreCRL">Nombre del Congreso/Revista/Libro/Institución</label>
                </div>

                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>Indexada</label>
                    <select [(ngModel)]="articulo.indexada" class="browser-default">
						<option value="No">No</option>
						<option value="Si">Si</option>
						<option value="JRC">JCR</option>
					</select>
                </div>

                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>Nacinal/Internacional</label>
                    <select [(ngModel)]="articulo.tipoNI" class="browser-default">
						<option value="Nacional">Nacional</option>
						<option value="Internacional">Internacional</option>
					</select>
                </div>

                <div class="input-field col s12">
                    <input id="articulo_volumen" [(ngModel)]="articulo.volumen" required type="text">
                    <label for="articulo_volumen">Volumen/Capítulo</label>
                </div>
<!-- 
                <div class="input-field col s12">
                    <input id="articulo_numero" [(ngModel)]="articulo.numero" required type="text">
                    <label for="articulo_numero">Número</label>
                </div> -->

                <div class="input-field col s12">
                    <input id="articulo_paginas" [(ngModel)]="articulo.paginas" required type="text">
                    <label for="articulo_paginas">Páginas</label>
                </div>

                <div class="input-field col s12">
                    <input id="articulo_anyo" [(ngModel)]="articulo.anyo" required type="text">
                    <label for="articulo_anyo">Año</label>
                </div>

                <div class="input-field col s12">
                    <input id="articulo_issnisbn" [(ngModel)]="articulo.issnisbn" required type="text">
                    <label for="articulo_issnisbn">Código ISSN/ISBN</label>
                </div>

                <div class="input-field col s12">
                    <input id="articulo_doi" [(ngModel)]="articulo.doi" required type="text">
                    <label for="articulo_doi">Doi</label>
                </div>

                <div class="input-field col s12">
                    <input id="articulo_editores" [(ngModel)]="articulo.editores" required type="text">
                    <label for="articulo_editores">Editores</label>
                </div>

                <div class="input-field col s12">
                    <input id="articulo_editorial" [(ngModel)]="articulo.editorial" required type="text">
                    <label for="articulo_editorial">Editorial</label>
                </div>

                <div class="input-field col s12">
                    <input id="articulo_pais" [(ngModel)]="articulo.pais" required type="text">
                    <label for="articulo_pais">País</label>
                </div>

                <div class="input-field col s12">
                    <input id="articulo_ciudad" [(ngModel)]="articulo.ciudad" required type="text">
                    <label for="articulo_ciudad">Ciudad</label>
                </div>

                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>Estado del artículo</label>
                    <select [(ngModel)]="articulo.estado" class="browser-default" value="Enviado">
						<option value="Enviado">Enviado</option>
						<option value="Aceptado">Aceptado</option>
						<option value="Publicado">Publicado</option>
					</select>
                </div>

                <div class="input-field col s12">
                    <input id="carrera_fechaedicion" [(ngModel)]="articulo.fechaedicion" required type="date">
                    <label for="carrera_fechaedicion">Fecha de envío/aceptado/publicado</label>
                </div>

            </div>

            <div class="row">
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large" (click)="crearArticulo(articulo)">Enviar</a>
                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Crear Revision -->
<div id="agregarRevivision" class="modal">
	<div class="modal-content" >

		<div class="row" style="margin-bottom: 0px !important;">
			<div class="col s12">
				<h3 class="center">Nueva Revisión</h3>
			</div>
		</div>


		<div style="border: .5px solid #78909c; padding: 10px;">
			<table class="striped">
               
        
                <tbody>
                  <tr>
                    <h6>Tipo de revisión</h6>
                    <select [(ngModel)]="revision.tipoRp"  class="browser-default" >
						<option value="Artículo">Articulo</option>
						<option value="Proyecto">Proyecto</option>

					</select>
                   
                    
                  </tr>
                  <tr>
                    <h6>Nombre de revista o institución</h6>
                    <input type="text" [(ngModel)]="revision.nombreRI">
                  
                  </tr>
                  <tr>
                     <h6>Fecha</h6>
                    <input type="date" [(ngModel)]="revision.fecha">
                    
                  </tr>
                  <tr>
                    <h6>Título de artículo</h6>
                    <input type="text" [(ngModel)]="revision.tituloRP">
                    
                  </tr>

                </tbody>
              </table>
			<br>
			<div class="row">
				<div class="col s6 center">
					<a class="modal-action modal-close waves-effect btn-large" (click)="crearRevision()" >Enviar</a>
				</div>
				<div class="col s6 center">
					<a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal Crear Patente -->
<div id="nuevaPatente" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h3 class="center">Nueva Patente</h3>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px !important;">

        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <div class="row">
                <div class="input-field col s12">
                    <input id="patente_titulo" [(ngModel)]="patente.nombrePatente" required type="text">
                    <label for="patente_titulo">Nombre de la patente</label>
                </div>
                <div class="input-field col s12">
                    <input id="patente_fechaReg" [(ngModel)]="patente.registro" required type="date">
                    <label for="patente_fechaReg">Fecha de registro</label>
                </div>
                <div class="input-field col s12">
                    <input id="patente_fechaObt" [(ngModel)]="patente.obtencion" required type="date">
                    <label for="patente_fechaObt" min="patente_fechaReg">Fecha de obtención</label>
                </div>
                <div class="input-field col s12">
                    <input id="patente_resumen" [(ngModel)]="patente.resumen" required type="text">
                    <label for="patente_resumen">Resumen</label>
                </div>
            </div>

            <div class="row">
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large" (click)="crearPatente(patente)">Enviar</a>
                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODAL NUEVO EVENTO-->
<div id="nuevoEvento" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h3 class="center">Evento Nuevo </h3>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px !important;">

        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <div class="row">
                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>Evento</label>
                    <select [(ngModel)]="evento.evento" class="browser-default">
						<option value="Congreso">Congreso</option>
                        <option value="Curso">Curso</option>
                        <option value="Seminario">Seminario</option>
						<option value="Taller">Taller</option>
						<option value="Simposium">Simposium</option>
						
					</select>
                </div>
                <div class="input-field col s12">
                    <input id="evento_titulo" [(ngModel)]="evento.nombreEvento" required type="text">
                    <label for="evento_titulo">Nombre del evento</label>
                </div>
                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>Participación</label>
                    <select [(ngModel)]="evento.participacion" class="browser-default">
						<option value="Nacional">Nacional</option>
						<option value="Internacional">Internacional</option>
						
					</select>
                </div>

                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>LAGC del CA</label>
                    <select [(ngModel)]="evento.lagcCA" class="browser-default">
						<option value="Si">Si</option>
						<option value="No">No</option>
					</select>
                </div>

                <div class="col s12" style="margin-bottom: 1rem;">
                    <label>Tipo de participación</label>
                    <select [(ngModel)]="evento.tipoParticipacion" class="browser-default">
						<option value="Asistente">Asistente</option>
						<option value="Ponente">Ponente</option>
						
					</select>
                </div>
                <div class="input-field col s12">
                    <input id="evento_titulotrabajo" [(ngModel)]="evento.titulo" required type="text">
                    <label for="evento_titulotrabajo">Titulo del trabajo</label>
                </div>
                <div class="input-field col s12">
                    <input id="evento_fechaReg" [(ngModel)]="evento.inicio" required type="date">
                    <label for="evento_fechaReg">Inicio</label>
                </div>
                <div class="input-field col s12">
                    <input id="evento_fechaObt" [(ngModel)]="evento.fin" required type="date">
                    <label for="evento_fechaObt">Fin</label>
                </div>
            </div>

            <div class="row">
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large" (click)="crearEvento(evento)">Enviar</a>
                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FIN MODAL NUEVO EVENTO-->
<!-- Modal Crear Actividad -->
<div id="nuevaActividad" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12">
                <h3 class="center">Nueva Actividad</h3>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px !important;">

        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">
            <div class="row">
                <div class="input-field col s12">
                    <input id="actividad_actividad" [(ngModel)]="actividad.actividad" required type="text">
                    <label for="actividad_actividad">Actividad</label>
                </div>
                <div class="input-field col s12">
                    <input id="actividad_descripcion" [(ngModel)]="actividad.descripcion" required type="text">
                    <label for="actividad_descripcion">Descripción</label>
                </div>
                <div class="input-field col s12">
                    <input id="actividad_inicio" [(ngModel)]="actividad.inicio" required type="date">
                    <label for="actividad_inicio">Inicio</label>
                </div>
                <div class="input-field col s12">
                    <input id="actividad_fin" [(ngModel)]="actividad.fin" required type = "date">
                    <label for="actividad_fin">Fin</label>
                </div>
              
            </div>

            <div class="row">
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large" (click)="crearActividad()">Enviar</a>
                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>

