<div class="container">
    <h3 class="center-align">Comisiones</h3>
    <div class="row">
        <label for="Busqueda">Busqueda</label>
        <input type="text">
    </div>
    <div class="row">
        <div class="col s6">
            <label class="">A partir de:</label>
            <input type="date" [(ngModel)]="fechaInicial">
        </div>
        <div class="col s6">
            <label>Hasta:</label>
            <input type="date" [(ngModel)]="fechaFinal">
        </div>
    </div>
    <div class="row">
        <label for="Mostrar">Mostrar</label>
        <select class="browser-default" [(ngModel)]="eleccion">
			<option value="1">Por profesor</option>
            <option value="2">Por comisión</option>
		</select>
    </div>
    <div class="row" *ngIf="eleccion==1">
        <label for="Profesor">Profesor</label>
        <select class="browser-default">
            <option value="0">Todos</option>
			<option *ngFor="let profe of profesores" [value]="profe.idProfesor">{{profe.nombres}} {{profe.apellidoPaterno}} {{profe.apellidoMaterno}}</option>
		</select>
    </div>
    <div class="col s12 center">
        <a class="waves-effect waves-light btn-large">Buscar</a>
    </div>
    <br>
    <div class="row" *ngIf="eleccion==1">
        <table *ngFor="let comisionado of comisionados; let i = index" class="centered">
            <thead style="background-color: rgb(136, 111, 101)">
                <tr>
                    <th>{{comisionado}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead style="background-color: rgb(160, 160, 160)">
                <tr>
                    <th>Nombre</th>
                    <th>Asignación</th>
                    <th>Periodo</th>
                    <th>Inicio</th>
                    <th>Opciones</th>
                    <th>Comprobante</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Comisión para la selección de alumnos de nuevo ingreso</td>
                    <td>Jefatura</td>
                    <td>Definido</td>
                    <td>2015-05-12</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" *ngIf="eleccion==2">
        <table *ngFor="let comision of comisiones; let i = index" class="centered">
            <thead style="background-color: rgb(136, 111, 101)">
                <tr>
                    <th>{{comision}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead style="background-color: rgb(160, 160, 160)">
                <tr>
                    <th>Comisionados</th>
                    <th>Asignación</th>
                    <th>Periodo</th>
                    <th>Inicio</th>
                    <th>Modificar</th>
                    <th>Agregar</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <p>Raul Cruz Barbosa</p>
                        <p>Carlos Alberto Fernandez y Fernandez</p>
                        <p>Rogelio Osorio Chong</p>
                    </td>
                    <td>Jefatura</td>
                    <td>Indefinido</td>
                    <td>2016-12-12</td>
                    <td><a href="#comisiones" class="waves-effect waves-light btn-small modal-trigger" style="margin-right: 12px;"><i class="material-icons">edit</i></a></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Modificar Comision -->
<div id="comisiones" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 0px !important;">
            <div class="col s12 titulo">
                <h5 class="center">Comisiones</h5>
            </div>
        </div>
        <div style="border: .5px solid #78909c; padding: 10px;">

            <div class="row">
                <div class="col s12">
                    <label>Nombre</label>
                    <input required type="text" [(ngModel)]="comisionEditar.nombre" placeholder="Nombre de la comisión" value="comisionEditar.nombre">
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <label>Descripción</label>
                    <input required type="text" [(ngModel)]="comisionEditar.descripcion" placeholder="Descripción de la comisión" value="comisionEditar.descripcion">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Periodo</label>
                    <select class="browser-default" [(ngModel)]="comisionEditar.periodo">
                        <option value="Definido">Definido</option>
                        <option value="Indefinido">Indefinido</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <label>Fecha de Inicio</label>
                    <input required type="date" [(ngModel)]="comisionEditar.inicio" placeholder="YY/MM/DD" value="">
                </div>
            </div>


            <div class="row">
                <div class="col s12">
                    <label>Fecha de Terminación</label>
                    <input required type="date" [(ngModel)]="comisionEditar.fin" placeholder="YY/MM/DD" value="">
                </div>
            </div>



            <div class="row">
                <div class="col s6 center">
                    <a (click)="modificarComision()" class="modal-action modal-close waves-effect btn-large">Modificar</a>


                </div>
                <div class="col s6 center">
                    <a class="modal-action modal-close waves-effect btn-large">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>