<div class="container">
    <h3 class="center-align">Tesistas</h3>

    <div class="row">
        <div class="col s6">
            <label class="">A partir de:</label>
            <input type="date" [(ngModel)]="fechaInicial" (change)="obtenerTesistas()">
        </div>
        <div class="col s6">
            <label>Hasta:</label>
            <input type="date" [(ngModel)]="fechaFinal" (change)="obtenerTesistas()" id="fechaFin">
        </div>
    </div>

    <table id="tablaTesistas">
        <tr>
            <th class="intro" onclick="sortTable(0, 'str', 'tablaTesistas')">Tesis</th>
            <th class="intro" onclick="sortTable(1, 'str', 'tablaTesistas')">Alumno</th>
            <th class="intro" onclick="sortTable(2, 'str', 'tablaTesistas')">Nivel</th>
            <th class="intro">Profesor(es)</th>
            <th class="intro">Matricula</th>
            <th class="intro">Estado</th>
            <th class="intro">Inicio</th>
            <th class="intro">Fin</th>
        </tr>

        <ng-container *ngFor="let tesis of tesistas">
            <tr>
                <td>{{tesis.nombreTesis}}</td>
                <td>{{tesis.nombreEstudiante}}</td>
                <td>{{tesis.nivel}}</td>
                <td>{{tesis.Profesor}}</td>
                <td>{{tesis.matricula}}</td>
                <td>{{tesis.status}}</td>
                <td>{{convertirFecha(tesis.inicio)}}</td>
                <td>{{convertirFecha(tesis.fin)}}</td>
            </tr>
        </ng-container>
    </table>
</div>