<div class="bodyLogin">
	<div class="container">
		<div class="row">
			<div class="col s12 m10 l8 offset-l2 offset-m1 valign-wrapper center-align" style="height: 100vh;">
				<div class="row white" style="width: 100%; padding: 50px; border-radius: 6px;">
					<div class="col s12">
						<h3>Iniciar Sesión</h3>
					</div>
					<div class="col s12 m4 center-align">
						<img src="assets/logo.png" alt="Logo UTM" width="100%">
					</div>
					<div class="col s12 m8">
						<form>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">alternate_email</i>
									<input type="text" [(ngModel)]="usuario.email" id="correo" name="correo">
									<label for="correo">Correo</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">password</i>
									<input type="password" [(ngModel)]="usuario.password" id="contraseña" name="contra">
									<label for="contraseña">Contraseña</label>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<a (click)="logueo()" class="btn">Ingresar</a>
								</div>
								<div class="col s12">
									<a (click)="modalCambiarContrasena()" style="cursor: pointer;">Olvidé mi contraseña</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modalCambiarContrasenya" class="modal">
	<div class="modal-content">
		<div class="row" style="margin-bottom: 0px !important;">
			<div class="col s12">
				<h5 class="center">Recuperar contraseña</h5>
			</div>
		</div>
		<div class="row" style="margin-bottom: 0px !important;">
			<div class="col s12">
				<p>Revisa tu correo electrónico,revisa el correo no deseado.</p>
			</div>
		</div>
		<div style="border: .5px solid #78909c; padding: 10px;">
			<div class="row">
				<div class="col s12">
					<label>Correo electrónico</label>
					<input required type="email" [(ngModel)]="usuario.email" placeholder="correo"
						value="profesor.correo">
				</div>
			</div>
			<div class="row">
				<div class="col s6 center">
					<a (click)="cambiarContrasena()"
						class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
				</div>
				<div class="col s6 center">
					<a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
				</div>
			</div>
		</div>
	</div>
</div>