<div class="container">
	<h3 class="center-align">Actividades</h3>

	<div class="row">
		<div class="col s6">
			<label class="">Fecha Inicial:</label>
			<input type="date" [(ngModel)]="fechaInicial" (change)="actualizarActividades()">
		</div>
		<div class="col s6">
			<label>Fecha Final:</label>
			<input type="date" [(ngModel)]="fechaFinal" (change)="actualizarActividades()">
		</div>
	</div>

	<table id="tablaActividades">
		<tr>
			<th class="intro" onclick="sortTable(0, 'str', 'tablaActividades')">Actividad</th>
			<th class="intro" >Descripción</th>
			<th class="intro" onclick="sortTable(2, 'str', 'tablaActividades')">Validado</th>
			<th class="intro" onclick="sortTable(3, 'str', 'tablaActividades')">Fecha Inicio</th>
			<th class="intro" onclick="sortTable(4, 'str', 'tablaActividades')">Fecha Fin</th>
			<th class="intro center">Opciones</th>
		</tr>

		<tr *ngFor="let actividad of actividades">
			<td>{{actividad.actividad}}</td>
			<td>{{actividad.descripcion}}</td>
			<td>{{actividad.validado}}</td>
			<td>{{convertirFecha(actividad.inicio)}}</td>
			<td>{{convertirFecha(actividad.fin)}}</td>
			<td>
				<button class="space btn-option">
					<i class="material-icons">edit</i>Modificar
				</button>
				<button class="space btn-option" (click)="eliminarActividad(actividad.idActividad)">
					<i class="material-icons">delete</i>Eliminar
				</button>
			</td>
		</tr>
	</table>

</div>