<div class="container">
	<h3 class="center-align">Eventos</h3>

	<div class="row">
		<div class="col s6">
			<label class="">Fecha Inicial:</label>
			<input type="date" [(ngModel)]="fechaInicial" (change)="actualizarEventos()">
		</div>
		<div class="col s6">
			<label>Fecha Final:</label>
			<input type="date" [(ngModel)]="fechaFinal" (change)="actualizarEventos()">
		</div>
	</div>

	<table id="myTable">
		<tr>
			<th class="intro" onclick="sortTable(0, 'str')">Fecha Inicio</th>
			<th class="intro" onclick="sortTable(1, 'str')">Fecha Fin</th>
			<th class="intro" onclick="sortTable(2, 'str')">Nombre</th>
			<th class="intro" onclick="sortTable(3, 'str')">Título</th>
			<th class="intro" onclick="sortTable(4, 'str')">Participación</th>
		</tr>

		<tr *ngFor="let evento of eventos">
			<td>{{evento.inicio}}</td>
			<td>{{evento.fin}}</td>
			<td>{{evento.nombreEvento}}</td>
			<td>{{evento.titulo}}</td>
			<td>{{evento.participacion}}</td>
		</tr>
	</table>
</div>